/* -------index.html------- */

/* -------body------- */

body {
  font-family: "roboto";
  color: #212121;
}

:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

address {
  font-style: normal;
}

.web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* -------body------- */

/* -------header------- */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-style {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 93px;
}

.header-web {
}

.header-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-list {
}

.header-item {
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-list-second {
  display: flex;
  gap: 50px;
}

.header-item-second {
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* -------header------- */

/* -------main------- */

.hero {
}

.hero-section {
  background-color: #2f303a;
  padding: 200px 0px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: #2196f3;
  cursor: pointer;
  max-width: 216px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

.hero-second {
}

.hero-list {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  gap: 30px;
}

.hero-item {
}

.hero-title-second {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.hero-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.hero-third {
}

.hero-title-third {
  margin: 0 auto;
}

.hero-list-third {
  padding-top: 50px;
  padding-bottom: 94px;
  display: flex;
  gap: 30px;
}

.hero-item-third {
}

.hero-fourth {
}

.hero-title-fourth {
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.hero-list-fourth {
  padding-bottom: 94px;
  display: flex;
  gap: 30px;
}

.hero-item-fourth {
}

.hero-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-top: 30px;
  margin-bottom: 10px;

}

.hero-text-speciality {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* -------main------- */

/* -------footer------- */

.footer {
  background-color: #757575;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
}

.footer-web {
}

.footer-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.address {
  padding-top: 20px;
  max-width: 231px;
}

.footer-map:hover,
.footer-map:focus {
  color: var(--accent-color);
}

.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-list {
}

.footer-item {
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* -------footer------- */

/* -------portfolio.html------- */

/* -------main------- */

.main {
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-list {
  margin-top: 94px;
  margin-bottom: 34px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.main-item {
}

.main-button:hover,
.main-button:focus {
  color: var(--white-color);
  background: #2196f3;
}

.main-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  padding: 6px 25px;
  min-width: 73px;
  margin: 0 auto;
  border-radius: 4px;
}

.main-list-second {
  display: flex;
}

.main-item-second {
}

.main-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-top: 20px;
  margin-bottom: 4px;
}

.main-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 4px;
  margin-bottom: 20px;
}

/* -------main------- */
